.wa-link {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: -10px;
    right: -10px;
}

img {
    width: 80px;
    height: 75px;
}

.main-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* object-position: center; */
    display: block;
}

.full-width-img {
    width: 100%;
}

.title-block {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.title-block h1 {
    margin-bottom: 1rem;
    font-size: 63px;
}

.title-block h3 {
    letter-spacing: 3px;
    font-weight: bold;
}

.contacts-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.contact-item h2 {
    margin-bottom: 2rem;
    font-size: 30px;
}

.contact-item.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(207, 25, 25, 0.87);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #6d1b1b;
    transition: all 0.5s ease;
}

@media (max-width: 768px) {
    .contacts-section {
        flex-direction: column;
    }
    .contact-item h2 {
        margin-bottom: 0;
    }
    .contacts-section> :not(:last-child) {
        margin-bottom: 2rem;
    }
}